<tbody>
    <% data.forEach((item)=> { %>
        <tr>
            <td> <%= item?.id %></td>
            <td> <%= item?.first_name %></td>
            <td> <%= item?.email %></td>
            <td> <%= item?.gender %></td>
            <td> <%= item?.ip_address %></td>
        </tr>
    <%  })%>
</tbody>